<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Animação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Class Animações https://animate.style/-->
  <img
    class="animate__animated animate__fadeIn"
    src="\assets\icon\favicon.png"
    alt=""
  />
  <img
    class="animate__animated animate__bounce"
    src="\assets\icon\favicon.png"
    alt=""
  />
  <!-- etc.. -->
  animate__animated animate__bounceIn
</ion-content>
