<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Slides</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <img src="https://scpconteudos.pt/sites/default/files/styles/large/public/multimedia/imagens/202102/15-min_0.jpg?itok=9O_jk7ux" alt="">
  </ion-slide>
  <ion-slide>
    <img src="https://scpconteudos.pt/sites/default/files/styles/large/public/multimedia/imagens/202102/1-min_5.jpg?itok=59ss8Kn5" alt="">
  </ion-slide>
  <ion-slide>
    <img src="https://scpconteudos.pt/sites/default/files/styles/large/public/multimedia/imagens/202102/7-min_5.jpg?itok=ZcOgzM41" alt="">
  </ion-slide>
</ion-slides>
</ion-content>
